{% extends "main/header2.html" %}
{% load static %}
{% block content %}
<section class="container">
    <div class="image-section">
       <div class="image-wrapper">
        <img src="{% static 'images/fp2.jpg' %}" alt="Logo">
     </div>    
     <div class="content-container">
        <h1 class="section-heading">Online Music Player <span>System.</span></h1>
        <p class="section-paragraph">Password Reset Page</p>
      </div>  
     </div>

  

   <div class="form-section">
   <div class="form-wrapper">
     <div class="logo-container">
       <a href="#" class="logo-container">
        <img src="{% static 'images/fpl.png' %}" alt="Logo">
        </a>
     </div>

     
     <p>Enter your Email credentials to Confirm your your new Password.</p>
     <form method="POST" class="border p-3 rounded">
        {% csrf_token %}
        <div class="input-container">
            <div class="form-group">
                <label for="id_new_password1">New Password:</label>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <div class="alert alert-danger">
                        {{ form.new_password1.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_new_password2">Confirm New Password:</label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <div class="alert alert-danger">
                        {{ form.new_password2.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info" onclick="return confirm('Are you sure you want to change your password?')">Reset Password</button>
            </div>
        </div>
    </form>
     </div>

   </div>
</section>
{% endblock content %}