{% extends "main/header2.html" %}
{% load static %}
{% block content %}
<div id="cards" style="padding-bottom: 20%;">
    <div class="card">
      <div class="card-content">
        <i class="fa-brands fa-instagram fa-3x"></i>
        <h2>Instagram</h2>

        <p>Followers: <span>33K</span></p>

        <a href="#">
          <i class="fa-solid fa-link"></i>
          <span>Follow me</span>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <i class="fa-brands fa-github fa-3x"></i>
        <h2>GitHub</h2>

        <p>Followers: <span>330</span></p>

        <a href="#">
          <i class="fa-solid fa-link"></i>
          <span>Follow me</span>
        </a>
      </div>
    </div>

  </div>
<!-- partial -->
{% endblock content %}

