{% extends "main/header2.html" %}
{% load static %}
{% block content %}
<section class="container">
    <div class="image-section">
       <div class="image-wrapper">
        <video autoplay muted loop>
          <source src="{% static 'images/s.mp4' %}" type="video/mp4">
          Your browser does not support the video tag.
      </video>
     </div>

      
     </div>

  

   <div class="form-section">
   <div class="form-wrapper">
     <div class="logo-container">
       <a href="#" class="logo-container">
        <img src="{% static 'images/logo.png' %}" alt="Logo">
        </a>
     </div>

     <h2>Welcome Back! 👋🏻</h2>
     <p>Enter your credentials to Login to your account.</p>
     <form method="POST" class="border p-3 rounded">
        {% csrf_token %}
     <div class="input-container">
       <div class="form-group">
        {{ form.as_p }}
       </div>
       <div class="form-group-text">
        <a class="ml-2" href="{% url 'password_reset' %}"><b>Forgot Password ?</b></a>
      </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Login</button>
        </div>

       <div class="form-group-text">
        <small class="text-muted">
            <b>Want an account?</b> <a class="ml-2" href="{% url 'register' %}">Register here</a>
        </small>
        </div>
       </div>
       </form>
     </div>

   </div>
</section>


{% endblock content %}